<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% block title %}SOS - FSO - Human Resources Management{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/custom-theme/jquery-ui-1.10.2.custom.css') }}" type="text/css" />
    {% endblock %}
         {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
                     <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.2.custom.js') }}"></script>

  {% endblock %}
        <script>
      $(function() {		
		$( ".date" ).datepicker({
			dateFormat: 'dd-mm-yy'
		});
	});
        </script>
    </head>

    <body>
        
            <div class="container">
                <div id="header" class="hero-unit">
                    <h1>SOS FSO Hr</h1>
                    <p>projet application management des ressources humaines.</p>
                    <p></p>
                </div>

                <div class="row">
                    <div id="menu" class="span3">
                        <h3>Les Fonctionalité</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="{{ path('personne') }}">Personne</a></li>
                            <li><a href="{{ path('diplome') }}">Diplome</a></li>
                            <li><a href="{{ path('cadre') }}">Cadre</a></li>
                        </ul>


                    </div>
                    <div id="content" class="span9">
          {% block body %}
          {% endblock %}
                        </div>
                    </div>

                    <hr>

                    <footer>
                        <p>La faculté des sciences Oujda</p>
                    </footer>
                </div>

 

            </body>
        </html>