{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span4">
                S.O.M : {{ entity.som }}<br>
            Poste Budgetaire : {{entity.posteBudgetaire}}<br>
            C.I.N : {{ entity.cin }}<br>
            </div>
            <div class="span3 offset1">
                <img src="" />
            </div>
        </div>
            <div class="row">
                <div class="span5 offset3 badge-success">
                    <h2>Information Personelle</h2>
                </div>
            </div>
        <div class="row">
            <div class="span4">
                Nom : {{entity.nom}}
            </div>
            <div class="span3 offset1">
                {{entity.nom}}
            </div>
        </div>    
            <div class="row">
            <div class="span3">
                Prenom : {{entity.prenom}}
            </div>
                    <div class="span3">
                Prenom 2 : {{entity.prenom2}}
            </div>
            <div class="span3">
                {{entity.prenomAr}}
            </div>
        </div>
            <div class="row">
            <div class="span4">
                Date de naissance : {{entity.dateNaissance|date('d-m-Y')}}
            </div>
            <div class="span3 offset1">
                Lieu de naissance : {{entity.lieuNaissance}}
            </div>
        </div>
            <div class="row">
            <div class="span3">
                Sexe : {{entity.sexe}}
            </div>
            <div class="span3">
                Etat matrimonial : {{entity.etatMatrimonial}}
            </div>
                    <div class="span3">
                Nombre d'enfants : {{entity.telephonne}}
            </div>
        </div>
<div class="page-header">
                    <h1>Tabs</h1>
                </div>
                <h2>Simple tabs</h2>
                <!--Demo-->
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-a">Affectation</a></li>
                        <li><a href="#tabs-b">Diplomes</a></li>
                        <li><a href="#tabs-c">Situation administratives</a></li>
                    </ul>
                    <div id="tabs-a">
                        <div class="row">
                            <div class="span2">Service</div>
                            <div class="span2">Date d'affectation</div>
                            <div class="span2">Poste</div>
                            <div class="span2">date de detachement</div>
                            <div class="span3">Remarques</div>
                        </div>
                        <div class="row">
                            
                            {% for affectation in entity.affectation %}
                                
                            <div class="span2">{{ affectation.dateAffectation|date('d-m-Y') }}</div>
                                <div class="span2">{{ affectation.poste }}</div>
                                <div class="span2">{{ affectation.dateDetachement|date('d-m-Y') }}</div>
                                <div class="span4">{{ affectation.remarques }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tabs-b">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
                    <div id="tabs-c">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
                </div>
<div></div>
</div>



{% endblock %}