{% extends '::base.html.twig' %}

{% block body -%}

    <table class="record_properties table table-bordered">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
                <th>Prenom2</th>
                <td>{{ entity.prenom2 }}</td>
            </tr>
            <tr style="text-align: right">
                <td style="text-align: right">{{ entity.prenomAr }}</td>
                <th style="text-align: right">الاسم الشخصي :</th>
                
                <td style="text-align: right">{{ entity.nomAr }}</td>
                <th style="text-align: right">الاسم العائلي : </th>
                
            </tr>
           
            <tr>
                <th>Cin :</th>
                <td>{{ entity.cin }}</td>
                <th>Numero de SOM :</th>
                <td>{{ entity.som }}</td>
                <th>Postebudgetaire</th>
                <td>{{ entity.posteBudgetaire }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ entity.dateNaissance|date('Y-m-d H:i:s') }}</td>
                <th>Lieu de naissance</th>
                <td>{{ entity.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>
{% 
if entity.sexe == 0 
%}Male{% else %}Female{% endif %}</td>
                    <th>Etatmatrimonial</th>
                <td>{{ entity.etatMatrimonial }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ entity.photo }}</td>
            </tr>
            <tr>
                
            </tr>
            <tr>
                <th>Telephonne</th>
                <td>{{ entity.telephonne }}</td>
            </tr>
            
        </tbody>
    </table>
<div class="span6">

                {% for affectation in entity %}
        {% for laffecttation in affectation %}
        {{ laffectation.poste }}
        {% endfor %}
        {% endfor %}
     tesrethrthrthrtht
</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('personne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('personne_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('personne_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
