{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Personne</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Prenom2</th>
                <td>{{ entity.prenom2 }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ entity.cin }}</td>
            </tr>
            <tr>
                <th>Som</th>
                <td>{{ entity.som }}</td>
            </tr>
            <tr>
                <th>Nomar</th>
                <td>{{ entity.nomAr }}</td>
            </tr>
            <tr>
                <th>Prenomar</th>
                <td>{{ entity.prenomAr }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{{ entity.dateNaissance|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lieunaissance</th>
                <td>{{ entity.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Etatmatrimonial</th>
                <td>{{ entity.etatMatrimonial }}</td>
            </tr>
            <tr>
                <th>Telephonne</th>
                <td>{{ entity.telephonne }}</td>
            </tr>
            <tr>
                <th>Postebudgetaire</th>
                <td>{{ entity.posteBudgetaire }}</td>
            </tr>
            <tr>
                <th>Affectation</th>
                <td>{{ entity.diplomes.intitule }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('personne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('personne_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('personne_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
