{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Liste des Cadres de la fonction publique</h3>
    <div class="span10">
            <a href="{{ path('cadre_new') }}" class="btn">
                <i class="icon-plus"></i>
                Créer un nouveau Cadre
            </a>
            <br />
        </div>
    <hr>
    <table class="records_list table table-bordered" >
        <thead>
            <tr>
                <th>Intitule</th>
                <th>Echelle</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.intitule }}</td>
                <td>{{ entity.echelle }}</td>
                <td>{{ entity.description }}</td>
                <td>
                      <a href="{{ path('cadre_show', { 'id': entity.id }) }}" class="btn">
                            <i class="icon-list"></i>
                            Afficher
                        </a>
                </td>
                <td>
                        <a href="{{ path('cadre_edit', { 'id': entity.id }) }}" class="btn">
                            <i class="icon-edit"></i>
                            Modifier
                        </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
