{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Détail du Cadre</h1>

    <table class="record_properties table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Intitule</th>
                <td>{{ entity.intitule }}</td>
            </tr>
            <tr>
                <th>Echelle</th>
                <td>{{ entity.echelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="{{ path('cadre') }}" class="btn">
            <i class="icon-chevron-left"></i>
            Retour a la liste des cadres
        </a>
        <a href="{{ path('cadre_edit', { 'id': entity.id }) }}" class="btn">
            <i class="icon-edit"></i>
            Modifier le cadre
        </a>
        <form action="{{ path('cadre_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn-danger">
            <i class="icon-trash"></i>
                Supprimer le cadre
            </button>
        </form>
    </p>
{% endblock %}
